{
	servers {
		trusted_proxies static private_ranges
	}
}

(cors) {
	@options {
		method OPTIONS
	}
	handle @options {
		header Access-Control-Allow-Origin {header.Origin}
		header Access-Control-Allow-Methods {header.Access-Control-Request-Methods}
		header Access-Control-Allow-Headers {header.Access-Control-Request-Headers}
		header Access-Control-Max-Age "3600"
		respond "" 204
	}
	@cors {
		header Origin *
	}
	handle @cors {
		header Access-Control-Allow-Origin {header.Origin}
	}
}

(auth) {
	@auth path /auth /auth/*
	handle @auth {
		reverse_proxy auth:3000
	}
	forward_auth auth:3000 {
		uri /auth/verify
		copy_headers X-User Remote-User Remote-Role Remote-Provider
	}
}

{$CBS} {
	log {
		format json
	}

	import auth
	import cors

	reverse_proxy cbs:3000 {
		trusted_proxies private_ranges
	}
}

http://cdn.test.localhost:8000 {
	log {
		format json
	}

	import auth
	import cors
	reverse_proxy cdn:3000
}
